@import './neon.css';

.logo a {
  cursor: pointer;
}
// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {
  .logo {
    font-size: 5rem;
    padding-top: 1.5rem;
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {
  .logo {
    font-size: 8rem;
    padding-top: 2rem;
  }
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) { 
  .logo {
    font-size: 12rem;
    padding-top: 4rem;
  }
}