@import './neon.css';

$small-screen: 579px;
$medium-screen: 768px;
$large-screen: 992px;

@media screen and (min-width: $small-screen) {
  .logo {
    font-size: 5rem;
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: $medium-screen) {
  .logo {
    font-size: 8rem;
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: $large-screen) {
  .logo {
    font-size: 12rem;
    padding-top: 5rem;
    text-align: center;
  }
}
