// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {
  .header {
    position: relative;
    // background-color: blue;
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {
  .header {
    // min-height: 45vh;
    // text-align: center;
    // background: url(../../assets/adminBG.jpg) no-repeat 0 50%;
    // background-size: cover;
    position: relative;
    // background-color: lime;
  }  
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) { 
  .header {
    min-height: 45vh;
    text-align: center;
    background: url(../../assets/adminBG.jpg) no-repeat 0 50%;
    background-size: cover;
  }
}