$medium-screen: 768px;
$large-screen: 992px;

.categories {
  padding: 1rem 0;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;

  .category {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding-top: 0.4rem;
    animation: none;
  
    &.active {
      color: #ffa500;
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 25px #ffa500,
        0 0 20px #ffa500, 0 0 30px #b36704, 0 0 80px #b36704, 0 0 80px #b36704;
    }
  
    a {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $medium-screen - 1px) {
  .category {
    font-size: 1.8rem;
  }
}

@media screen
and (min-width: $medium-screen)
and (max-width: $large-screen - 1px) {
  .category {
    font-size: 2rem;
  }
}

@media screen and (min-width: $large-screen) {
  .category {
    font-size: 2.5rem;
  }
}