.quizzes {
  display: flex;
  padding: 2rem;
  min-height: 95vh;

  .quiz {
    position: relative;
    margin-bottom: 3rem;
    
    article {
      color: #ffebb7;
      background-color: #24251f;
      padding: 2rem;
      min-height: 20rem;
      border: 2px solid #fff;
      border-radius: 2rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
    
    .question {
      color: white;
      text-align: center;
      font-weight: 600;
      margin: 4rem 0 3rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .quiz-info {
      position: absolute;
      top: 1.5rem;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    
      .info {
        &.point dd::after {
          content: 'P';
        }
        &.time dd::after {
          content: 'sec';
        }
      }
    }

    .content {
      margin-bottom: 2rem;
      white-space: pre-wrap;
      color: white;
      background-color: #24251f;
      padding: 2rem;
      border: 1px solid #fff;
      border-radius: 1rem;
    }

    .options {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      .option {
        margin-bottom: 1rem;
        
        label {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
  
          input {
            margin-right: 1rem
          }
        }
      }
    }

    .actions {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .select-quiz {
        width: 3rem;
        height: 3rem;
        border-radius: 1rem;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .quizzes {
    flex-direction: column;
    align-items: center;

    .quiz {
      width: 98%;

      .question {
        font-size: 1.6rem;
      }

      .info {
        font-size: 1.4rem;
      }

      .content {
        font-size: 1.4rem;
        line-height: 2.4rem;
      }

      .option {
        label {
          font-size: 1.4rem;
        }
      }

      .edit-quiz,
      .rm-quiz {
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
        border-radius: 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .quizzes {
    flex-direction: column;
    align-items: center;

    .quiz {
      width: 98%;

      .question {
        font-size: 1.8rem;
      }

      .info {
        font-size: 1.6rem;
      }

      .content {
        font-size: 1.6rem;
        line-height: 2.7rem;
      }

      .option {
        label {
          font-size: 1.6rem;
        }
      }

      .edit-quiz,
      .rm-quiz {
        padding: 0.8rem 1.3rem;
        font-size: 1.6rem;
        border-radius: 0.8rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .quizzes {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .quiz {
      width: 49%;

      .question {
        font-size: 2rem;
      }

      .info {
        font-size: 1.8rem;
      }

      .content {
        font-size: 1.8rem;
        line-height: 3rem;
      }

      .option {
        label {
          font-size: 1.8rem;
        }
      }

      .edit-quiz,
      .rm-quiz {
        padding: 1rem 1.6rem;
        font-size: 1.8rem;
        border-radius: 1rem;
      }
    }
  }
}