$medium-screen: 768px;
$large-screen: 992px;

.links {
  display: flex;
  justify-content: space-around;
  
  a {
    display: inline-block;
    cursor: pointer;
  }
}

// mobile
@media screen and (max-width: $medium-screen - 1px) {
  .links {
    a {
      padding: 0.5rem;
    }
  }
}