$overlay-bgc: rgba(34, 34, 34, .5);
$form-bgc: #24251f;
$font-color: #ffebb7;
$border-color: #fff;
$small-screen: 579px;
$medium-screen: 768px;
$large-screen: 992px;

.quiz-form-container.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: $overlay-bgc;

  .quiz-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .fields {
      position: relative; // for exit button
      background-color: $form-bgc;
      color: $font-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem 2rem;
      border: 2px solid $border-color;
      border-radius: 2rem;

      .question-container,
      .setting,
      .content,
      .options-container {
        margin-bottom: 2rem;
      }

      label[for="question"],
      #question {
        display: inline-block;
        margin-left: 0.5rem;
        color: white;
      }

      #question {
        vertical-align: top;
        padding: 0.5rem 1rem;
        background-color: $form-bgc;
        border: 1px solid $border-color;
      }

      .setting {
        label::after {
          content: ':';
        }
  
        select {
          background-color: $form-bgc;
          border: 1px solid $border-color;
          color: $font-color;
          margin-right: 2rem;
          min-width: 6rem;
          padding-left: 0.5rem;
  
          &:last-child {
            margin-right: 0;
          }
        }
      }

      .content-type {
        position: relative; // for self positioning
        top: 1px;
  
        .type {
          float: left;
  
          label,
          input {
            display: inline-block;
          }
  
          label {
            cursor: pointer;
            position: relative;
            padding: 0.5rem 1rem;
            border: 1px solid $border-color;
            border-bottom: none;
            background-color: $form-bgc;
  
            &[for="code-type"] {
              border-left: none;
            }
            
            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-bottom: 1px solid $border-color;
            }
          }
  
          input[type="radio"] {
            display: none;
          }
  
          &.active {
            label::after {
              border-bottom: none;
            }
          }
        }
      }

      .content {
        padding: 2rem;
        border: 1px solid $border-color;
        background-color: $form-bgc;
        resize: none;
        color: $border-color;
  
        &:focus {
          outline: none;
        }
      }

      .options-container {
        position: relative;
        text-align: center;
        
        // ul
        .options {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 2rem;
          
          // li
          .option {
            margin-bottom: 1rem;

            &:last-child {
              margin-bottom: 0;
            }
            
            // li div
            .option-wrapper {
              input[type="radio"],
              input[type="checkbox"] {
                margin-right: 1rem;
              }
              
              .option-text {
                padding: 0.5rem 1rem;
                background-color: $form-bgc;
                border: 1px solid $border-color;
                color: $font-color;
              }
            }
          }
        }

        .add-option-btn {
          position: absolute;
          top: 50%;
          right: -2rem;
          transform: translateY(-50%);
        }

        #ck-multipleAns {
          vertical-align: middle;
        }
      }

      .exit {
        position: absolute;
        top: 1rem;
        right: 1rem;
        border: none;
        background: none;
        padding: 0;
        color: $border-color;
      }
    }
  }
}

@media screen and (min-width: $small-screen) {
  .quiz-form {
    width: 50rem;

    .fields {
      label[for="question"],
      #question {
        font-size: 2rem;
      }

      #question {
        font-size: 1.6rem;
        width: 35rem;
      }

      .setting {
        font-size: 1.4rem;
      }

      .content-type {
        width: 40rem;

        label,
        input {
          font-size: 1.4rem;
        }

        label {
          width: 7rem;
        }
      }

      .content {
        width: 40rem;
        height: 20rem;
        font-size: 1.4rem;
      }

      .options {
        width: 40rem;

        .option-text {
          width: 32rem;
          font-size: 1.5rem;
          line-height: 2.1rem;
        }
      }

      label[for="ck-multipleAns"] {
        font-size: 1.3rem;
      }

      .modal-btn {
        width: 7rem;
        padding: 1rem 0;
        font-size: 1.2rem;
      }
  
      .exit {
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (min-width: $medium-screen) {
  .quiz-form {
    width: 70rem;

    .fields {
      label[for="question"],
      #question {
        font-size: 2.5rem;
      }
  
      #question {
        font-size: 2rem;
        width: 50rem;
      }
  
      .setting {
        font-size: 1.8rem;
      }
  
      .content-type {
        width: 60rem;
  
        label,
        input {
          font-size: 1.8rem;
        }

        label {
          width: 7rem;
        }
      }

      .content {
        width: 60rem;
        height: 25rem;
        font-size: 1.8rem;
      }

      .options {
        width: 60rem;
        
        .option-text {
          width: 52rem;
          font-size: 1.8rem;
          line-height: 2.7rem;
        }
      }

      label[for="ck-multipleAns"] {
        font-size: 1.6rem;
      }

      .modal-btn {
        width: 9rem;
        padding: 1.5rem 0;
        font-size: 1.4rem;
      }
  
      .exit {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (min-width: $large-screen) {
  .quiz-form {
    width: 80rem;
  
    .fields {
      label[for="question"],
      #question {
        font-size: 3rem;
      }

      #question {
        font-size: 2rem;
        width: 60rem;
      }
  
      .setting {
        font-size: 2rem;
      }

      .content-type {
        width: 70rem;
  
        label,
        input {
          font-size: 2rem;
        }

        label {
          width: 7rem;
        }
      }

      .content {
        width: 70rem;
        height: 30rem;
        font-size: 2rem;
      }
      
      .options {
        width: 70rem;

        .option-text {
          width: 60rem;
          font-size: 2rem;
          line-height: 3rem;
        }
      }

      label[for="ck-multipleAns"] {
        font-size: 1.8rem;
      }
  
      .modal-btn {
        width: 10rem;
        font-size: 1.6rem;
        padding: 2rem 0;
      }
  
      .exit {
        font-size: 3rem;
      }
    }
  }
}
