$form-bgc: #242424;
$font-color: #e6e8ed;
$medium-screen: 768px;
$large-screen: 992px;

.setting {
  display: flex;

  .setting-item {
    select {
      background-color: $form-bgc;
      border: none;
      border-radius: 0.3rem;
      color: $font-color;
      min-width: 6rem;
      padding: 0.5rem 0;
      padding-left: 0.5rem;
    }
  }
}

@media screen and (max-width: $medium-screen - 1px) {
  .setting {
    justify-content: space-around;
    width: 100%;
    font-size: 1.4rem;

    label,
    select {
      display: block;
    }

    select {
      margin-top: 0.5rem;
    }
  }
}

@media screen
and (min-width: $medium-screen)
and (max-width: $large-screen - 1px) {
  .setting {
    width: 60rem;
    justify-content: space-around;
    font-size: 1.8rem;

    label::after {
      content: ':';
    }

    select {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: $large-screen) {
  .setting {
    width: 75rem;
    justify-content: space-around;
    font-size: 2rem;

    label::after {
      content: ':';
    }

    select {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
