@import './fontello.css';

.summary-container {
  margin: 2rem 0;
  border: 1px solid #fff;
  color: white;
  position: relative;

  .summary {
    display: flex;
    width: 80%;
    justify-content: space-evenly;

    .count {
      text-align: center;
      width: 20%;
      position: relative;
      padding: 2rem 0;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: #fff;
      }
      
      dt, dd {
        display: inline-block;
      }

      dt::after {
        content: ':';
      }
    }
  }

  .delete-selected {
    position: absolute;
    top: 0;
    right: 10%;
    transform: translateX(50%);
    border: none;
    color: palevioletred;
    background-color: transparent;
  }
}

@media screen and (min-width: 576px) {
  dt, dd {
    font-size: 1.4rem;
  }

  .icon-trash-empty:before {
    font-size: 2rem;
  }

  .delete-selected {
    font-size: 1.4rem;
    padding: 1.8rem 0.4rem;
  }
}

@media screen and (min-width: 768px) {
  dt, dd {
    font-size: 1.6rem;
  }

  .icon-trash-empty:before {
    font-size: 2.4rem;
  }

  .delete-selected {
    font-size: 1.6rem;
    padding: 1.7rem 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  dt, dd {
    font-size: 2rem;
  }

  .icon-trash-empty:before {
    font-size: 3rem;
  }

  .delete-selected {
    font-size: 2rem;
    padding: 1.6rem 2.5rem;
  }
}