@import './normalize.css';
@import './reset.css';

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: blue;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  min-width: 128rem;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  font-size: 1.4rem;
  color: #181818;
  background-color: black;
}