.quizzes {
  background-color: lime;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem;
  min-height: 95vh;

  .quiz {
    position: relative;
    padding: 2rem;
    margin-bottom: 3rem;
    min-height: 20rem;
    background-color: tomato;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    .question {
      font-size: 2rem;
      font-weight: 600;
      margin: 1rem 0;
    }

    .quiz-info {
      margin-bottom: 1rem;
    
      .info {
        float: left;
        width: 20rem;
        font-size: 1.8rem;

        dt, dd {
          display: inline-block;
        }

        dt::after {
          content: ': ';
        }
      }
    }

    .content {
      margin-bottom: 1rem;
    }

    .options {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      label {
        font-size: 1.8rem;
        padding-bottom: 1rem;
      }
    }

    input[type=checkbox] {
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
    }
  }
}