$form-bgc: #242424;
$font-color: #e6e8ed;
$medium-screen: 768px;
$large-screen: 992px;

label[for="question"],
#question {
  display: inline-block;
  margin-left: 0.5rem;
  color: $font-color;
}

#question {
  padding: 0.5rem 1rem;
  background-color: $form-bgc;
  border: none;
  border-radius: 0.3rem;
}

@media screen and (max-width: $medium-screen - 1px) {
  label[for="question"],
  #question {
    font-size: 1.8rem;
  }

  #question {
    width: 35rem;
  }
}

@media screen
and (min-width: $medium-screen)
and (max-width: $large-screen - 1px) {
  label[for="question"],
  #question {
    font-size: 2rem;
  }

  #question {
    width: 48rem;
  }
}

@media screen and (min-width: $large-screen) {
  label[for="question"],
  #question {
    font-size: 2.5rem;
  }

  #question {
    width: 60rem;
  }
}
