$text-color: #fff;
$small-screen: 579px;
$medium-screen: 768px;
$large-screen: 992px;

.navigation-links {
  color: $text-color;
  position: absolute;
}

@media screen and (min-width: $small-screen) {
  .navigation-links {
    top: 3.5rem;
    right: 1rem;
    width: 20rem;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: $medium-screen) {
  .navigation-links {
    top: 6rem;
    right: 2rem;
    width: 20rem;
    font-size: 1.8rem;
  }
}

@media screen and (min-width: $large-screen) {
  .navigation-links {
    top: 0;
    right: 0;
    width: 20rem;
    font-size: 2rem;
  }
}